.VideoSales-Circle {
	position: fixed;
	right: 20px;
	bottom: 44px;
	width: 72px;
	height: 72px;
	background: linear-gradient(180deg, #5F2FEC 0%, #4B30EC 100%);
	border-radius: 50%;
	svg {
		margin: 0 auto;
		width: 34px;
		height: 34px;
	}
}