/* Main */

.VideoSales-Person {
	position: fixed;
	width: 72px;
	height: 72px;
	background: transparent;
	&__ImageBox {
		border: 1px solid #2A2B31;
		box-sizing: border-box;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		z-index: 1;
	}
	&__TextBox {
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #5F2FEC 0%, #4A30EC 100%);
		border-radius: 6px;
		transition: transform .5s ease-out,
								opacity .5s ease-out;
		&AnimWrapper {
			position: absolute;
			top: 10px;
			right: calc(72px - 18px);
			width: 133px;
			height: 52px;
			overflow: hidden;
		}
		&Hidden {
			transform: translateX(150px);
		}
		p {
			font-family: $primary-font;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: white;
			margin: 0;
			position: absolute;
			width: 87px;
			height: 34px;
			top: 9px;
			left: 22px;
			text-align: left;
		}
	}
	&__BubbleBox {
		position: absolute;
		width: 274px;
		height: 97px;
		top: calc(-97px + 12px);
		right: 7px;
		z-index: 1;
		transform: scale(0);
		opacity: 0;
		&Shown {
			animation: scale-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
		}
		p {
			position: absolute;
			font-family: $primary-font;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 16px;
			color: white;
			margin: 0;
			width: 234px;
			height: 48px;
			top: 15px;
			left: 20px;
		}
	}
	.VideoSales-TopLeft {
		left: 20px;
		top: 44px;
	}
	.VideoSales-TopRight {
		right: 20px;
		top: 44px;
	}
	.VideoSales-BottomLeft {
		left: 20px;
		bottom: 44px;
	}
	.VideoSales-BottomRight {
		right: 20px;
		bottom: 44px;
	}
}

/* Positions */

.VideoSales-Person {
	/* Top-Left */
	&.VideoSales-TopLeft {
		left: 20px;
		top: 44px;
		/* Top-Left: TextBox */
		.VideoSales-Person__TextBox {
			&AnimWrapper {
				right: 0;
				left: calc(72px - 18px);
			}
			&Hidden {
				transform: translateX(-150px);
			}
			p {
				text-align: right;
			}
		}
		/* Top-Left: Bubble */
		.VideoSales-Person__BubbleBox {
			top: calc(72px - 12px);
			left: 7px;
			right: initial;
			svg {
				position: absolute;
				transform: scaleY(-1) scaleX(-1);
				bottom: 0;
			}
			p {
				top: calc(19px + 15px);
			}
			&Shown {
				animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
			}
		}
	}
	/* Top-Right */
	&.VideoSales-TopRight {
		right: 20px;
		top: 44px;
		/* Top-Right: Bubble */
		.VideoSales-Person__BubbleBox {
			top: calc(72px - 12px);
			svg {
				position: absolute;
				transform: scaleY(-1);
				bottom: 0;
			}
			p {
				top: calc(19px + 15px);
			}
			&Shown {
				animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
			}
		}
	}
	/* Bottom-Left */
	&.VideoSales-BottomLeft {
		left: 20px;
		bottom: 44px;
		/* Bottom-Left: TextBox */
		.VideoSales-Person__TextBox {
			&AnimWrapper {
				right: 0;
				left: calc(72px - 18px);
			}
			&Hidden {
				transform: translateX(-150px);
			}
			p {
				text-align: right;
			}
		}
		/* Bottom-Left: BubbleBox */
		.VideoSales-Person__BubbleBox {
			bottom: 0;
			left: 7px;
			right: initial;
			svg {
				position: absolute;
				transform: scaleX(-1);
			}
			p {
				top: 15px;
			}
			&Shown {
				animation: scale-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
			}
		}
	}
	/* Bottom-Right */
	&.VideoSales-BottomRight {
		right: 20px;
		bottom: 44px;
	}
}

/* Animations */

@keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
	100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
		opacity: 1;
  }
}

@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
	50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
	50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-bl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
	50% {
		-webkit-transform: scale(1.25);
						transform: scale(1.25);
		-webkit-transform-origin: 0% 100%;
						transform-origin: 0% 100%;
		opacity: 1;
	}
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
